@{
    ViewData["Title"] = "Home page";
}

<div class="w-full text-center mt-2">
    @* First Section *@
    <div class="px-56 h-[50vh]">
        <div class="flex px-64 h-full">
            <div class="flex flex-col justify-end w-full h-full">
                <img src="img/hero1.png" alt="" class="object-cover">
            </div>
            <div class="flex flex-col gap-7 justify-center items-start w-full h-full ml-10">
                <span class="text-start font-semibold text-3xl">Combo Touch for iPad Air</span>
                <div class="font-bold text-xl">$199.99 - $229.99</div>
                <a class="btn btn-wide rounded-full bg-[#4CF6CF]">Buy Now</a>
            </div>
        </div>
    </div>
    
    @* Second Section *@
    <div class="px-56 h-[120vh]">
        <div class="w-full h-full relative ">
            <svg width="2.68em"
                 height="1em"
                 viewBox="0 0 1201 449"
                 class="w-full h-auto absolute top-0 left-0 z-0"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill="#F5F5F5" d="M838.242 349.223c-65.247 0-116.999-50.899-116.999-116.996H617.805c0 122.564 97.084 216.502 220.437 216.502 123.354 0 220.438-93.938 220.438-216.502H955.241c0 66.031-51.752 116.996-116.999 116.996Zm216.368-471.937v-81.163H911.341c-23.059-7.927-47.756-12.709-73.239-12.709-123.354 0-220.438 93.938-220.438 216.502 0 122.565 97.084 216.503 220.438 216.503 123.353 0 220.438-93.938 220.438-216.503 0-41.4-11.14-81.95-33.41-112.214l29.48-10.35v-.066ZM838.102 117.634c-65.247 0-116.999-51.752-116.999-118.57 0-66.817 51.752-116.996 116.999-116.996 65.247 0 117.785 50.965 117.785 117.783s-51.752 117.783-117.785 117.783ZM1201-203.859h-101.87v408.308H1201v-408.308ZM101.866-376.602H0v580.987h101.866v-580.987Zm260.306 160.016c-123.353 0-220.438 93.938-220.438 216.502 0 122.565 97.085 216.503 220.438 216.503S582.61 122.481 582.61-.084c0-122.564-97.085-216.502-220.438-216.502Zm0 334.285c-65.247 0-116.999-51.75-116.999-118.569 0-66.817 51.752-116.996 116.999-116.996 65.247 0 117.785 50.965 117.785 117.782 0 66.818-51.752 117.783-117.785 117.783Z"/>
            </svg>
            
            <div class="absolute top-20 left-0 w-[35rem] h-3/4">
                <div class="flex flex-col justify-start items-start gap-5 w-full h-full ">
                    <div class="w-full h-full overflow-hidden rounded-xl">
                        <img
                            src="img/hero2.png"
                            alt=""
                            class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                        >
                    </div>                
                    <h1 class="text-3xl font-bold">Nextech Certified Refurbished</h1>
                    <p class="font-bold text-lg text-start text-[#828282]">
                        Shop Nextech Certified Refurbished Enjoy the design, reliability,
                        and performance of Nextech with our Certified Refurbished products.
                    </p>
                    <a href="" class="group font-bold hover:underline ">Shop Now
                        <span class="w-10 h-2 bg-[#4CF6CF] inline-block rounded-xl ml-2 transition-all duration-200 group-hover:w-5"></span>
                    </a>
                </div>
            </div>
            
            <div class="absolute top-10 right-1/3 w-[12rem] h-full">
                <div class="w-full h-full overflow-hidden rounded-xl">
                    <div class="flex flex-col justify-start items-start gap-5 w-full h-full">
                        <div class="w-full h-1/5 overflow-hidden rounded-xl">
                            <img
                                src="img/hero3.png"
                                alt=""
                                class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                            >
                        </div>
                        <h1 class="text-3xl font-bold text-start">Transform Your Workflow</h1>
                        <p class="font-bold text-lg text-start text-[#828282]">
                            Shop the Signature AI Edition M750 Wireless mouse and save $15 today
                        </p>
                        <a href="" class="group font-bold hover:underline ">Shop Now
                            <span class="w-10 h-2 bg-[#4CF6CF] inline-block rounded-xl ml-2 transition-all duration-200 group-hover:w-5"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="absolute top-40 right-0 w-[23rem] h-full">
                <div class="w-full h-full overflow-hidden rounded-xl">
                    <a class="flex flex-col justify-start items-start gap-5 w-full h-full">
                        <div class="w-full h-1/4 overflow-hidden rounded-xl">
                            <img
                                src="img/hero4.png"
                                alt=""
                                class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                            >
                        </div>
                        <h1 class="text-3xl font-bold text-start">Take iPad further</h1>
                        <p class="font-bold text-lg text-start text-[#828282]">
                            Type, sketch, view and read with our thinnest & lightest Combo Touch keyboard NOW for the new iPad (A16) and iPad Air (M3)
                        </p>
                        <a href="" class="group font-bold hover:underline ">Shop Now
                            <span class="w-10 h-2 bg-[#4CF6CF] inline-block rounded-xl ml-2 transition-all duration-200 group-hover:w-5"></span>
                        </a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    @* Third Section *@

    <div class="px-56 py-10">
        <h1 class="text-4xl text-center mb-10 font-bold">Discover our most popular product categories</h1>
        <div class="flex gap-5 justify-center items-center">
            <div class="w-full bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <div class="w-full h-100 overflow-hidden">
                    <img
                        src="/img/keyboard.jpg"
                        alt="Keyboard"
                        class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                    >
                </div>
                <div class="p-4 text-start">
                    <h2 class="text-2xl font-semibold ">Keyboards</h2>
                </div>
            </div>
            <div class="w-full bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <div class="w-full h-100 overflow-hidden">
                    <img
                        src="img/mice.jpg"
                        alt="Mouse"
                        class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                    >
                </div>
                <div class="p-4 text-start">
                    <h2 class="text-2xl font-semibold ">Mice</h2>
                </div>
            </div>
            <div class="w-full bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <div class="w-full h-100 overflow-hidden">
                    <img
                        src="img/webcam.jpg"
                        alt="Webcam"
                        class="object-cover w-full h-full transition-transform duration-300 hover:scale-105 hover:cursor-pointer"
                    >
                </div>
                <div class="p-4 text-start">
                    <h2 class="text-2xl font-semibold ">Webcams</h2>
                </div>
            </div>
        </div>
    </div>
    
    
    @* Fourth Section *@
    <div class="px-56 py-10">
        <h1 class="text-2xl text-start mb-5">Shop by product category</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-5">
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/keyboards-cat.png"
                            alt="Keyboard"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Keyboards</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/mice-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Mice</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/conference-camera-cat.png"
                            alt="Conference camera"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Conference Camera</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/headsets-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Headsets</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/webcams-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Webcams</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/mobile-devices-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">iPad Keyboard Cases</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/speakers-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Speakers</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/driving-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Driving</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/lighting-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Lightning</h2>
                    </div>
                </a>
            </div>
            <div class="bg-[#EDEEEE] rounded-xl shadow-md overflow-hidden flex flex-col">
                <a href="">
                    <div class="w-full h-50 overflow-hidden p-4">
                        <img
                            src="/img/microphones-cat.png"
                            alt="Mice"
                            class="object-cover w-full h-full transition-transform duration-500 hover:scale-110 hover:cursor-pointer">
                    </div>
                    <div class="p-4 text-center">
                        <h2 class="text-lg font-medium">Microphones</h2>
                    </div>
                </a>
            </div>
            
        </div> 
    </div>
    
    
</div>