<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <html data-theme="light"></html>
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar bg-base-100 px-36 py-2 flex items-center justify-between">
            <div class="flex-1">
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl" href="/">
                    <h1 class="sm:text-lg md:text-2xl font-bold mb-3 flex items-center gap-1">
                        NE
                        <span class="inline-flex items-center"><i class="hgi hgi-stroke hgi-cancel-01 mt-1"></i></span>
                        TECH
                    </h1>
                </a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal p-0">
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/create-account">Create Account</a></li>
                </ul>
            </div>
        </div>
    </header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <footer class="border-top footer text-muted">
       
    </footer>


    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>