@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.category-link {
    display: block;
    width: 140px; /* Match w-40 */
    height: 140px; /* Match h-40 */
    border-radius: 9999px; /* Ensure circular shape */
    overflow: hidden;
}
