<div class="navbar bg-base-100 px-36 border-b-4 border-base-200 py-0">
    <div class="flex-1">
        <a class="mr-12" href="/">
            <h1 class="text-lg sm:text-lg md:text-2xl font-bold mb-3 flex justify-center items-center gap-1">
                NE
                <span class="inline-flex items-center"><i class="hgi hgi-stroke hgi-cancel-01 mt-1"></i></span>
                TECH
            </h1>
        </a>

        <ul class="menu menu-horizontal px-1 ">
            <li id="shop-link" class="h-full">
                <a  class="btn h-full btn-ghost hover:bg-transparent normal-case text-xl group" href="/shop">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Shop
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
            <li>
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl group" href="/">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Softwares
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
            <li>
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl group" href="/">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Deals
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
        </ul>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <label class="input input-bordered flex items-center gap-2 rounded-full">
                    <input type="text" class="grow" placeholder="Search"/>
                    <i class="hgi hgi-stroke hgi-search-01"></i>
                </label>
            </li>
            <li><a href=""><i class="hgi hgi-stroke hgi-favourite text-lg"></i></a></li>
            <li></li>
            <li></li>

        </ul>
    </div>
</div>