<div class="navbar bg-base-100 px-36 border-b-4 border-base-200">
    <div class="flex-1">
        <a class="mr-12" href="/">
            <h1 class="text-lg sm:text-lg md:text-2xl font-bold mb-3 flex justify-center items-center gap-1">
                NE
                <span class="inline-flex items-center"><i class="hgi hgi-stroke hgi-cancel-01 mt-1"></i></span>
                TECH
            </h1>
        </a>

        <ul class="menu menu-horizontal px-1">
            <li>
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl group" href="/shop">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Shop
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
            <li>
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl group" href="/">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Softwares
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
            <li>
                <a class="btn btn-ghost hover:bg-transparent normal-case text-xl group" href="/">
                    <h1 class="sm:text-md md:text-xl font-medium mb-2 relative">
                        Deals
                        <span class="absolute -bottom-3 left-0 h-[6px] w-0 bg-[#00FDCF] group-hover:w-full transition-all duration-300 rounded-xl"></span>
                    </h1>
                </a>
            </li>
        </ul>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a>Link</a></li>
            <li>
                <details>
                    <summary>Parent</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a>Link 1</a></li>
                        <li><a>Link 2</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>