<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerSite</title>
    <html data-theme="light"></html>

    <link rel="stylesheet" href="~/css/output.css"  asp-append-version="true"/>
</head>
<body>
    <header class="bg-gradient-to-r from-blue-600 to-indigo-600 shadow-lg sticky top-0 z-50">
        
    </header>
<div class="">
    <main role="main">
        @RenderBody()
    </main>
</div>

    <footer class="">

    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)/
</body>
</html>
