@{
}

<div class="">
    @* Top bar *@
    <div class="flex bg-[#F8F8F8] h-24 justify-between px-12">
        <div class="w-full flex flex-col justify-center items-center">
            <div class="flex justify-center items-center gap-2">
                <i class="hgi hgi-stroke hgi-truck text-3xl"></i>
                <p class="text-center font-bold">Free shipping on orders over $29.00.</p>
            </div>
        </div>
        <div class="divider divider-horizontal py-2"></div>

        <div class="w-full flex flex-col justify-center items-center">
            <div class="flex justify-center items-center gap-2">
                <i class="hgi hgi-stroke hgi-checkmark-badge-03 text-3xl"></i>
                <p class="text-center font-bold">Easy returns and 30-day money back guarantee. Learn more</p>
            </div>
        </div>
    </div>
    
    <div class="px-56 py-12">
        <h1 class="text-7xl font-medium">Shop</h1>
    </div>
</div>